$max-mobile: 768px;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica;
}

:root {
  --almost-white: rgb(228, 228, 240);
  --light-gray: rgb(138, 138, 144);
  --dark-gray: rgb(107, 107, 111);
  --almost-black: rgb(19, 19, 25);

  --text-color: var(--almost-black);
  --border-color: var(--light-gray);
  --background--color: var(--almost-white);
  --highlight-color: rgb(25, 128, 25);
  --unhighlight-color: rgb(47, 212, 47);

  @media (prefers-color-scheme: dark) {
    --text-color: var(--almost-white);
    --border-color: var(--dark-gray);
    --background--color: var(--almost-black);
    --highlight-color: rgb(47, 212, 47);
    --unhighlight-color: rgb(25, 128, 25);
  }

  --border-style: 1px solid var(--border-color);
  --sidebar-width: 200px;
  --sidebar-slide: 0;
}

pre {
  height: fit-content;
}

code {
  font-family: Consolas;

  @media (prefers-color-scheme: dark) {
    filter: invert(1);
  }
}

.hljs-keyword,
.hljs-attr {
  @media (prefers-color-scheme: dark) {
    filter: invert(1);
  }
}

body {
  background: var(--background--color);
}

h1,
h2,
h3,
h4,
a,
p,
span {
  color: var(--text-color);
}

.icon {
  color: var(--text-color);

  &:hover {
    color: var(--highlight-color);
  }

  @media (min-width: $max-mobile) {
    display: none;
  }
}

.header {
  position: sticky;
  top: 0;
  z-index: 1;

  padding: 1rem 1.5rem;
  height: 50px;
  background-color: var(--background--color);
  border-bottom: var(--border-style);

  display: flex;
  justify-content: space-between;
  align-items: center;

  &__side {
    width: 4rem;

    &--version {
      color: var(--highlight-color);
    }
  }
}

.sidebar {
  position: fixed;
  top: 50px;
  width: var(--sidebar-width);

  padding: 1rem 1.25rem;
  height: 100vh;
  border-right: var(--border-style);

  z-index: 2;
  background-color: var(--background--color);

  @media (max-width: $max-mobile) {
    left: calc(var(--sidebar-width) * -1 + var(--sidebar-slide));
  }

  &__close {
    position: absolute;
    top: 1rem;
    right: 1rem;

    @media (min-width: $max-mobile) {
      display: none;
    }
  }
}

.background {
  position: fixed;
  top: 50px;
  left: var(--sidebar-width);
  width: calc(100% - var(--sidebar-width));
  height: calc(100vh - 50px);
  z-index: 1;

  background-color: black;
  opacity: 0.45;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: 1rem 2rem;
  margin-left: var(--sidebar-width);

  @media (max-width: $max-mobile) {
    margin-left: 0;
  }
}

.list {
  font-size: 1.1rem;
  font-weight: bold;
  list-style-type: none;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1rem;

  &--recursive {
    font-weight: normal;
    gap: 0;
  }

  &__element {
    margin-top: 0.5rem;
  }
  &__link {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
      color: var(--highlight-color);
    }
  }
}

.container {
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 1rem;

  &--chapter {
    margin-block-start: 1.5rem;
    margin-block-end: 1rem;
  }

  &--page {
    margin-block-start: 1rem;
    margin-block-end: 0.75rem;
  }

  &--property {
    margin-block-start: 0.75rem;
    margin-block-end: 0.5rem;
  }
}

.title {
  position: relative;
  font-weight: bold;

  &::before {
    display: none;
    position: absolute;
    transform: translateX(-120%);

    content: "#";
    color: var(--highlight-color);
  }

  &:hover::before {
    display: block;
  }

  &--chapter {
    font-size: 1.5rem;
  }

  &--page {
    font-size: 1.25rem;
  }

  &--property {
    font-size: 1rem;
  }
}

.text {
  font-size: 1rem;

  &--highlight {
    text-decoration: underline;
  }

  &--link {
    text-decoration: none;
    color: var(--highlight-color);

    &:hover {
      text-decoration: underline;
    }

    &:visited {
      color: var(--unhighlight-color);
    }
  }
}

.seperator {
  width: 100%;
  height: 1px;
  border-top: var(--border-style);
  margin-block: 0.75rem;

  &--thin {
    height: 0;
    border-top: 1px dashed var(--border-color);
    margin-block: 0.5rem;
  }

  &--thick {
    height: 2px;
    border-bottom: var(--border-style);
    border-color: var(--unhighlight-color);
    margin-block: 1.25rem;
  }
}
